@use '../variables' as *;

.devices {
  margin-bottom: 24px;
}

.devices__grid {
  display: none;

  @media (min-width: 768px) {
    display: grid;
    gap: 16px 24px;
    padding: 24px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1366px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.devices__grid .devices-card:nth-child(4) {
  @media (min-width: 768px) and (max-width: 1365px) {
    display: none;
  }
}

.devices__grid.show-all .devices-card:nth-child(4) {
  @media (min-width: 768px) and (max-width: 1365px) {
    display: flex;
  }
}

.devices-card {
  background-color: $color-white;
  border-radius: 6px;
  border: 1px solid $color-border;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  text-decoration: none;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.devices-card__title {
  font-size: 16px;
  font-weight: 500;
  color: $color-text;
}

.devices-card:hover .devices-card.arrow svg {
  transform: translateX(4px);
}

#devicesGrid .devices-card:nth-of-type(n + 5) {
  display: none;
}

#devicesGrid.show-all .devices-card {
  display: flex;
}
