$color-accent: #41f6d7;
$color-accent-light: #b8ffec;
$color-text: #1b1c21;
$color-gray: #7e7e82;
$color-white: #ffffff;
$color-bg: #f8f8f8;
$color-border-light: #d9fff5;
$color-border: #eaeaea;
$color-accent-light: #b8ffec;
$color-black: #000000;
$color-order: #ff3e79;
$color-placeholder: #b5b6bc;
